body{
    font-family: 'Nunito';
}
h1{
    font-family: 'Poppins';
}
footer {
    background: 
    #001C0B;
}
.hero-section {
    background-image: url('bg.jpg');
    background-position: center top -410px; /* Geser background lebih ke atas */
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;

    /* Rounded bottom-right corner */
    border-radius: 0 0 3rem 0; /* Sudut kanan bawah rounded */
    overflow: hidden; /* Pastikan konten dan background respect border-radius */
}

@media (max-width: 768px) {
    .hero-section {
        background-position: center top; /* Adjust positioning for smaller screens */
    }
}

@media (max-width: 480px) {
    .hero-section {
        background-position: center top; /* Adjust positioning further for very small screens */
        height: 70vh; /* Mengurangi tinggi agar sesuai dengan layar yang lebih kecil */
    }
}

.about-section {
    background-image: url('objects.svg'); /* Ganti dengan path file SVG kamu */
    background-size: cover; /* Mengatur ukuran gambar agar menutupi seluruh area */
    background-position: center; /* Menjaga posisi tengah background */
    background-repeat: no-repeat; /* Menghindari pengulangan gambar */
    color: black;
    display: flex;
    flex-direction: column;
}

.title-with-border {
    display: inline-block;
    position: relative;
    padding-bottom: 12px; /* Adjust the padding to your preference */
}

.title-with-border::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%; /* Adjust the width to control the border length */
    height: 3px; /* Adjust the thickness of the border */
    background-color: #006326; /* Matches the text color */
}

.border-t-custom {
    border-top: 0.5px solid rgba(255, 255, 255, 0.3)
}

